<div>
    <br>
    <div class="row">
        <div class="col-lg-2 col-md-1"></div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6">
            <div class="mini-stat-type-4 bg-info shadow">
                <h3>Vacation</h3>
                <h1>{{leftBalance}}</h1>
            </div>
        </div>
        <div class="col-md-2"></div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6">
            <div class="mini-stat-type-4 bg-info shadow">
                <h3>Overtime</h3>
                <h1>{{overTimeBalance}}</h1>
            </div>
        </div>
        <div class="col-lg-2 col-md-1"></div>
    </div>
    <br>
    <div *ngIf="isAdmin || isOE" class="row">
        <div class="col-lg-2 col-md-1"></div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6">
            <button [routerLink]="['/vacation', {outlets: {vacation: ['add-vacation']}}]" class="btn btn-success btn-block">Add Vacation</button>
        </div>
        <div class="col-md-2"></div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6">
            <button [routerLink]="['/vacation', {outlets: {vacation: ['add-overtime']}}]" class="btn btn-success btn-block">Add Overtime</button>
        </div>
        <div class="col-lg-2 col-md-1"></div>
    </div>
    <br>
</div>
