<section id="page-content">
    <div class="body-content animated fadeIn">
        <div class="panel rounded shadow no-overflow">
            <blockquote style="text-align: justify;">
                <b style="font-size: 22px"> Security Guard Company | Security Guard Agency </b>
                <hr>
                <p style="font-size: 18px">
                    Established since 2005 by a group of former police officers and specialist professionals, Live Sensor has grown into Singapore’s leading security and private investigations agency. With a skilled team that is equipped with decades of experience and expertise in Criminal &amp; Commercial Investigation, Intelligence Operations and Security Manpower Planning &amp; Management, we are the trusted provider of business and home security solutions by clients in Singapore and Asia.
                    Having attained the ISO 9001 and OHSAS 18001 certifications, which are licensed by the Police Licensing Regulatory Department (PLRD) of the Singapore Police Force, you can rest assured that our knowledge, skills, methods and results are up to par, and that your assignments are completed efficiently and cost-effectively.
                </p>
            </blockquote>

            <blockquote style="text-align: justify; font-size: 18px;">  
                Our international client works include:
                <ul><li>Security Services</li>
                    <li>Close Protection Services</li>
                    <li>Security Equipment</li>
                    <li>Business Intelligence Gathering</li>
                    <li>Technical Surveillance Counter Measures or Debugging</li>
                    <li>Cyber Forensic Investigations</li>
                    <li>Maritime Security Services</li>
                    <li>Gurkha Services</li>
                    <li>Specialist Training Services</li>
                    <li>Security Consulting</li>
                </ul>
            </blockquote>

            <blockquote style="text-align: justify;">
                <p>Live Sensor has successfully fulfilled client work for both corporations and individuals from Asia, Europe, &amp; America. With offices in Singapore, Malaysia and Indonesia, we are equipped with the necessary contacts and resources for your security and investigation requirements anywhere in the world.</p>
            </blockquote>
        </div>
    </div>
</section>
