<div class="panel panel-tab">
    <div class="panel-heading">
        <div class="pull-left">
            <ul class="nav nav-tabs">
                <li class="nav-border">
                    <a [routerLink]="['/salary', {outlets: {salary: 'calculate'}}]" class="text-center">Salary Calculation</a>
                </li>
                <li class="nav-border">
                    <a [routerLink]="['/salary', {outlets: {salary: 'generate'}}]" class="text-center">Generate Payslip</a>
                </li>
                <li class="nav-border">
                    <a [routerLink]="['/salary', {outlets: {salary: 'payslip'}}]" class="text-center">View Payslip</a>
                </li>
            </ul>
		</div>
        <div *ngIf="users.size && (isOE || isAdmin)" class="pull-right">
            <div class="form-group no-margin">
                <select (change)="changeUser(userFor($event.target.value))" class="form-control rounded">
                    <option *ngFor="let x of userIds" [value]="x" [selected]="x === user._id">{{userName(x)}}</option>
                </select>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
