<section id="page-content">
    <div class="body-content animated fadeIn">
      <div class="row">
          <div class="col-sm-2"></div>
          <div class="col-sm-8">
              <div class="panel rounded shadow no-overflow">
                  <div class="panel-heading">
                      <h3 class="panel-title text-center">Holidays</h3>
                  </div>
                  <div class="panel-body">
                      <div class="tab-content form-horizontal">
                          <div class="form-group">
                              <div class="col-sm-1"></div>
                              <label class="col-sm-3 control-label text-left">Add New Holiday</label>
                          </div>
                          <div class="row form-group">
                              <div class="col-sm-1"></div>
                              <div class="col-sm-4">
                                  <input type="text" class="form-control rounded" placeholder="Holiday Name" [(ngModel)]="name">
                              </div>
                              <div class="col-sm-3">
                                  <input type="date" class="form-control rounded" [(ngModel)]="date">
                              </div>
                              <div class="col-sm-3">
                                  <button type="button" class="btn btn-primary btn-block rounded" (click)="addHoliday()">Add</button>
                              </div>
                              <div class="col-sm-1"></div>
                          </div>
                          <br>
                          <div class="table-responsive">
                              <table class="table table-bordered table-middle table-lilac">
                                  <thead>
                                      <tr>
                                          <th>Holiday Name</th>
                                          <th>Date</th>
                                          <th>Actions</th>
                                          <th>Attendance</th>
                                      </tr>
                                  </thead>
                                  <tbody>
                                      <tr *ngFor="let x of holidays; index as i">
                                          <td><input type="text" class="form-control rounded" [(ngModel)]="holidays[i].holidayName" [readonly]="!edit[i]"></td>
                                          <td><input type="date" class="form-control rounded" [value]="x.holidayDate.slice(0, 10)" (input)="updateDate(i, $event.target.value)" [readonly]="!edit[i]"></td>
                                          <td class="text-center">
                                              <a *ngIf="isEditable(x) && !edit[i] && !delete[i]" class="btn btn-primary btn-xs" (click)="edit[i] = true"><i class="fa fa-pencil"></i></a>
                                              <a *ngIf="isEditable(x) && !edit[i] && !delete[i]" class="btn btn-danger btn-xs" (click)="delete[i] = true"><i class="fa fa-times"></i></a>
                                              <a *ngIf="isEditable(x) && !edit[i] && delete[i]" class="btn btn-danger btn-xs" (click)="deleteHoliday(x._id)"><i class="fa fa-check-circle"></i></a>
                                              <a *ngIf="isEditable(x) && !edit[i] && delete[i]" class="btn btn-info btn-xs" (click)="delete[i] = false"><i class="fa fa-times-circle"></i></a>
                                              <a *ngIf="isEditable(x) && edit[i] && !delete[i]" class="btn btn-success btn-xs" (click)="editHoliday(x)"><i class="fa fa-check-circle"></i></a>
                                              <a *ngIf="isEditable(x) && edit[i] && !delete[i]" class="btn btn-info btn-xs" (click)="edit[i] = false"><i class="fa fa-times-circle"></i></a>
                                          </td>
                                          <td class="text-center">
                                              <a *ngIf="!isEditable(x) && !edit[i] && !delete[i]" class="btn btn-danger btn-sm rounded" (click)="generatePdf(i)"><i class="fa fa-file-pdf-o"></i></a>
                                          </td>
                                      </tr>
                                  </tbody>
                              </table>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-sm-2"></div>
      </div>
    </div>
    <div style="display: none">
      <app-ar-search></app-ar-search>
    </div>
</section>
