<section id="page-content">
    <div class="body-content animated fadeIn">
        <div class="panel rounded shadow no-overflow">
            <div class="panel-heading no-padding">
                <div class="panel-title row">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-8 text-center report-title">Create E-Learning</div>
                </div>
            </div>
            <div class="panel-body">
                <div class="tab-content form-horizontal">
                    <div [class]="['form-group' + (titleError ? ' has-error' : '')]">
                        <div class="col-sm-1"></div>
                        <div class="col-sm-10">
                            <label class="col-sm-2 control-label">Title</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control rounded" [(ngModel)]="title">
                                <div *ngIf="titleError" class="text-right"><code>{{titleError}}</code></div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-1"></div>
                        <div class="col-sm-10">
                            <label class="col-sm-2 control-label">Details</label>
                            <div class="col-sm-10">
                                <textarea type="text" class="form-control rounded" [(ngModel)]="details"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-1"></div>
                        <div class="col-sm-10">
                            <label class="col-sm-2 control-label">Document</label>
                            <div class="col-sm-10">
                                <input #fileUpload type="file" (change)="updateDocument($event.target.files[0])" class="form-control rounded">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-1"></div>
                        <div class="col-sm-10">
                            <label class="col-sm-2 control-label">Notify Employees</label>
                            <div class="col-sm-1">
                                <div class="ckbox ckbox-theme">
                                    <input id="notify-emps" type="checkbox" [(ngModel)]="notifyUsers">
                                    <label for="notify-emps"></label>
                                </div>
                            </div>
                            <div [hidden]="!notifyUsers" class="col-sm-9">
                                <select class="form-control rounded" (change)="updateUserChoice($event.target.value)">
                                    <option value="all" selected>Post To All</option>
                                    <option value="selected">Post To Selected Candidates</option>
                                </select>
                                <ejs-treeview #userTree class="well" [hidden]="userChoice === 'all'"
                                    [showCheckBox]='true' [sortOrder]='"Ascending"' [fields]="usersAsTree"></ejs-treeview>
                            </div>
                        </div>
                    </div>
                    <div *ngFor="let x of questions, index as i" class="form-group">
                        <div class="col-sm-1"></div>
                        <div class="col-sm-10">
                            <label class="col-sm-2 control-label">[ {{x.type}} ] Q{{i + 1}}.</label>
                            <div class="col-sm-10">
                                <div class="row">
                                    <div [class]="['col-sm-11' + (questionErrors[i] ? ' has-error' : '')]">
                                        <textarea type="text" class="form-control rounded" [(ngModel)]="questions[i].ques"></textarea>
                                        <div *ngIf="x.type !== 'subjective'">
                                            <table class="table table-bordered table-middle">
                                                <thead>
                                                    <tr>
                                                        <th>S/No</th>
                                                        <th>Option</th>
                                                        <th><button class="btn btn-primary" type="button" (click)="x.options.push('')"><i class="fa fa-plus-circle"></i></button></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let y of x.options; index as j" class="border-warning">
                                                        <td>{{j + 1}}</td>
                                                        <td><input type="text" class="form-control rounded" (change)="x.options[j] = $event.target.value" [value]="y"></td>
                                                        <td><button class="btn btn-danger" type="button" (click)="x.options.splice(j, 1)"><i class="fa fa-times-circle"></i></button></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div *ngIf="questionErrors[i]" class="text-right"><code>{{questionErrors[i]}}</code></div>
                                    </div>
                                    <div class="col-sm-1">
                                        <button class="btn btn-danger" type="button" (click)="removeQuestion(i)"><i class="fa fa-times-circle"></i></button>
                                    </div>
                                </div>
                                <br>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="questionError" class="form-group">
                        <div class="col-sm-1"></div>
                        <div class="col-sm-10 text-right"><code>{{questionError}}</code></div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-1"></div>
                        <div class="col-sm-10">
                            <div class="col-sm-2"></div>
                            <div class="col-sm-10 no-padding">
                                <div class="col-sm-4">
                                    <button type="button" class="btn btn-primary btn-block rounded" (click)="subjective()">Subjective Question</button>
                                </div>
                                <div class="col-sm-4">
                                    <button type="button" class="btn btn-primary btn-block rounded" (click)="singleChoice()">Single Choice Question</button>
                                </div>
                                <div class="col-sm-4">
                                    <button type="button" class="btn btn-primary btn-block rounded" (click)="multipleChoice()">Multiple Choice Question</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <ul class="pager wizard no-margin">
                    <li class="next"><a (click)="submit()">Submit</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>
